langchain==0.3.3
langchain-experimental==0.3.2
langchain-openai==0.2.2
langchain-huggingface==0.1.0
langgraph==0.2.38
opentelemetry-distro[otlp]==0.46b0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-aiohttp-client==0.46b0
opentelemetry-instrumentation-asyncio==0.46b0
opentelemetry-instrumentation-httpx==0.46b0
opentelemetry-instrumentation-starlette==0.46b0
opentelemetry-instrumentation-wsgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-instrumentation-logging==0.46b0
opentelemetry-instrumentation-requests==0.46b0




