langchain==0.3.27
langchain-experimental==0.3.4
langchain-openai==0.3.28
langchain-huggingface==0.3.1
langchain-deepseek==0.1.4
langchain-mcp-adapters==0.1.9
langgraph==0.4.10
opentelemetry-distro[otlp]==0.56b0
opentelemetry-instrumentation==0.56b0
opentelemetry-instrumentation-asgi==0.56b0
opentelemetry-instrumentation-aiohttp-client==0.56b0
opentelemetry-instrumentation-asyncio==0.56b0
opentelemetry-instrumentation-httpx==0.56b0
opentelemetry-instrumentation-starlette==0.56b0
opentelemetry-instrumentation-wsgi==0.56b0
opentelemetry-instrumentation-fastapi==0.56b0
opentelemetry-instrumentation-logging==0.56b0
opentelemetry-instrumentation-requests==0.56b0




